{% extends "base.html" %}

{% block content %}

 {% if form and form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}
<form method="post">
    {% csrf_token %}
    <div>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify
            you typed it in correctly.</p>

        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password">
        </div>

        <div class="mb-3">
            <label for="new_password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1">
        </div>

        <div class="mb-3">
            <label for="new_password2" class="form-label">New Password confirmation</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2">
        </div>

        <input type="submit" value="Change my password" class="btn btn-primary">

    </div>
</form>

{% endblock %}